<h1>Welcome to our system</h1>
<p>We are happy to help with any of your needs</p>

<br>
<%= link_to "Find Clinics", site_findClinics_path %>
<%= link_to "High Visibility", site_highVisibility_path %>
<%= link_to "Loved Ones", site_lovedOnes_path %>
<%= link_to "Notifications", site_notifications_path %>
 
