
<div class="topnav">
  <a><i class="fa fa-ambulance" style="font-size:120%"></i><i class="fa fa-heart" style="font-size:120%"></i></a>
  <a style="padding-left: 125px" href="/site/home.html.erb">Home</a>
  <a href="#records">Records</a>
  <a href="#prescriptions">Prescriptions</a>
  <%= link_to "Clinics", site_findClinics_path %>
  <a href="#support">Support</a>
  <%= link_to "Feedback", site_feedback_path %>
  <a href="#account">Account</a>
  <a><i class="fa fa-microphone" style="font-size:120%"></i></a>

  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>


<div id="mainImg">
  <div id="bodyImage1">
    <!-- From https://www.cushmancreative.com/biotech-branding-designing-a-positive-online-experience-for-patients/ -->
    <%= image_tag("happyFam.jpg", :alt => "Happy Family")%>
  </div>

  <div id="bodyImage2">
    <%= image_tag("niceDoctors.jpg", :alt => "Friendly Doctors")%>
  </div>
</div>

<div class="mainContent">
    <p>Helping families all over Australia by making their lives that much easier</p>

    <div class="option1">
      <p>Personal Records</p>
    </div>

    <div class="option2">
      <p>Feedback on System</p>
    </div>

    <div class="option3">
      <p>Account Help</p>
      <br>
      <br>
    </div>
</div>
